<h1>Calculate a random number</h1>

<form action="/random/result">
  <label for="Minimum">Minimum</label>
  
  <input id="Minimum" type="text" name="min_number">

   <label for="Maximum">Maximum</label>
  
  <input id="Maximum" type="text" name="max_number">
  
  <button>Pick random number</button>
</form>
