<h1>Calculate the square root of a number</h1>

<form action="/square_root/results" method="post">
  <label for="one">Enter a number</label>
  <input id="one" type="text" name="users_number">
  
  <button>Calculate square root</button>
</form>
